h1, h4{
    text-align: center;
}

.row{
    width: 90%;
    height: 150px;
    margin: auto;
    display: flex;
    border: 5px black solid;
}

.row-1, .row-2{
    border-bottom: 5px black solid;
}

.col-1, .col-2{
    border-right: 5px black solid;
}

.box{
    width: 33.33%;
    text-align: center;
    font-size: 60px;
    padding-top: 40px;
}